// BOOTSTRAP
@import '~bootstrap/scss/bootstrap.scss';

body{
    background-color: #ccc;
}

// BUTTON
.button{
    padding: 3px 15px;
    color: #fff;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
} 