// BOOTSTRAP
@import '~bootstrap/scss/bootstrap.scss';

// FONTAWESOME
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

body{
    background-color: #141414;
}

// BUTTON
.button{
    padding: 3px 15px;
    color: #fff;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
} 

// STARS
.stars{
    color: gold;
}

// SECTION TITLE
.section-title{
    color: #fff;
}