// BOOTSTRAP
@import '~bootstrap/scss/bootstrap.scss';

// FONTAWESOME
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

// VARIABLES
@import './variables.scss';

body{
    background-color: #141414;
}

// BUTTON
.button{
    padding: 3px 15px;
    color: $secondary-text-color;
    font-weight: bold;
    cursor: pointer;
} 

// STARS
.stars{
    color: gold;
}

// SECTION TITLE
.section-title{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 30px;
}

ul{
    list-style: none;
}